header {
  background-color: #FFFFFF;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  padding: 20px 0;
}

header h1 {
  font-weight: 700;
  margin: 0;
  text-align: left;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header .row, footer .row {
  display: flex;
  align-items: center;
}

div .container {
  background-color: white;
  display: inline;
}

aside {
  background-color: chartreuse;
  text-align: center;
}

article {
  background-color: orange;
  text-align: center;
  box-shadow: brown;
}