header {
  background-color: #000000;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  padding: 20px 0;
}

header h1 {
  font-weight: 700;
  padding: 8px;
  text-align: center;
  align-items: center;
  justify-content: right;
}

header nav {
  display: flex;
  margin: 0;
  padding: 8px;
  justify-content:right;
  text-align: center;
  align-items: center;
  top: auto;
}

div .container {
  background-color: white;
}

aside {
  background-color: chartreuse;
  text-align: center;
  display: flex;
  flex-direction:column;
  width: 200px;
  align-items: flex-end;
}

article {
  background-color: orange;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 200px;
}
